<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

	<context:annotation-config></context:annotation-config>
	<!-- 单机版 -->
	<bean class="redis.clients.jedis.JedisPool">
		<constructor-arg name="host" value="122.51.105.58"></constructor-arg>
		<constructor-arg name="port" value="6379"></constructor-arg>
	</bean>

	<bean class="com.owwang.mall.cart.jedis.JedisClientPool">
		<property name="auth" value="123456"></property>
	</bean>

	<!--	&lt;!&ndash; 集群版 &ndash;&gt;
        <bean class="redis.clients.com.owwang.mall.sso.jedis.JedisCluster">
            <constructor-arg name="nodes">
                <set>
                    <bean class="redis.clients.com.owwang.mall.sso.jedis.HostAndPort">
                        <constructor-arg name="host" value="xxx"></constructor-arg>
                        <constructor-arg name="port" value="1"></constructor-arg>
                    </bean>
                    <bean class="redis.clients.com.owwang.mall.sso.jedis.HostAndPort">
                        <constructor-arg name="host" value="xxx"></constructor-arg>
                        <constructor-arg name="port" value="1"></constructor-arg>
                    </bean>
                    <bean class="redis.clients.com.owwang.mall.sso.jedis.HostAndPort">
                        <constructor-arg name="host" value="xxx"></constructor-arg>
                        <constructor-arg name="port" value="1"></constructor-arg>
                    </bean>
                </set>
            </constructor-arg>
        </bean>-->
</beans>